<mat-card class="task-item">
  <mat-card-title>{{ task.text }}</mat-card-title>
  <mat-card-subtitle>{{ task.day }}</mat-card-subtitle>
  <mat-card-actions align="end">
    <mat-icon
      class="task-item-icon"
      (click)="onDelete(task)"
      aria-hidden="false"
      [ngStyle]="{ color: 'red' }"
      >delete
    </mat-icon>
    <mat-icon
      (click)="onToggleReminder(task)"
      [ngStyle]="{ color: task.reminder ? '#b3b31a' : 'grey' }"
      class="task-item-icon task-item-icon-ring"
      aria-hidden="false"
      >notifications_active
    </mat-icon>
  </mat-card-actions>
</mat-card>
